<!DOCTYPE html>
<html>

<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

</head>

<body class="admin-body">

    <div class="admin-login-shell">
        <div class="admin-login-card">
            <h1>Verify OTP</h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            {% endwith %}

            <form method="POST" class="login-form">
                <input type="text" name="otp" placeholder="Enter OTP" required>
                <button>Verify</button>
            </form>
        </div>
    </div>

</body>

</html>